/*nav*/
.header
{
    font-family: 'moderat',sans-serif;
    font-size: 16px;

    width: 100%;

    background-color: white;
}
.navbar
{
    display: flex;

    width: 100%;
    max-width: 1280px;
    height: 70px;
    margin: 0 auto;
    padding: 5px 20px 10px 20px;

    justify-content: space-between;
    align-content: center;
}
.navbar-left-container
{
    display: flex;

    margin-left: -20px;

    justify-content: flex-start;
    align-items: center;
}
.navbar-brand-logo
{
    /*width: 120px;*/
}
.header a,
.footer a
{
    text-decoration: none;

    color: #666;
}
a
{
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;
}
.navbar-right-container
{
    display: none;

    justify-content: flex-start;
    align-items: center;
}
.navbar-menu-container
{
    display: flex;

    padding-top: 10px;

    justify-content: flex-end;
    align-items: center;
}
.navbar-link
{
    padding-left: 15px;
}
.navbar-cart-container
{
    position: relative;
}
.navbar-cart-count
{
    font-size: 16px;
    font-weight: bold;

    position: absolute;
    top: -9px;
    right: -11px;

    width: 20px;

    text-align: center;

    color: white;
    border-radius: 10px;
    background-color: #eb767d;

    justify-content: center;
    align-items: center;
}
.navbar-cart-logo
{
    width: 25px;
    height: 25px;

    transform: scaleX(-1);
}
/*login*/
.regi_form_input
{
    font-size: 14px;
    line-height: 42px;

    position: relative;

    overflow: hidden;

    height: 42px;
    margin-bottom: 15px;
    padding-bottom: 0;

    border: 1px solid #ccc;
    background: none;
}
.regi_form_input .icon
{
    display: inline-block;
    float: left;

    width: 25px;
    height: 29px;
    margin: 6px 0 0 14px;

    background-image: url('/static/icon.png');
    background-repeat: no-repeat;
    background-position: 4px 5px;
}
.regi_form_input .IconPwd
{
    background-position: -198px 3px;
}
.regi_form_input .regi_login_input
{
    font-size: 14px;
    /*height: 23px;*/
    line-height: 23px;

    position: absolute;
    top: 0;
    left: 45px;

    zoom: 1;

    width: 270px;
    padding: 9px 0 10px;

    color: #333;
    border: none;
    background: 0 0!important;
}
.md-title
{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;

    position: absolute;
    top: 14px;

    padding: 8px 0;

    color: #333;
}
.login-wrap
{
    margin-top: 30px;
}
.md-content .btn-login
{
    font-size: 18px;
    line-height: 38px;

    display: block;

    height: 38px;

    text-align: center;

    color: #fff;
    border: 2px solid #009de6;
    background: #009de6;
}
.btn-login:hover
{
    border: 2px solid #61b1ef;
    background: #61b1ef;
}
.error-wrap .error
{
    font-size: 12px;
    line-height: 16px;

    display: block;
    visibility: hidden;

    height: 16px;
    padding: 0 0 7px 17px;

    text-align: left;

    color: #d31723;
    background: url('/static/icon.png') 0 -100px no-repeat;
}
.md-content .error-wrap .error-show
{
    visibility: visible;

    height: auto;
}
